<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/dl7iiaefg/image/upload/v1669115006/development/te6kwicoxz1oap5haqma.jpg');">
  <div class="container">
    <h1 class="text-center">Get-a-hand</h1>
    <h1 class="text-center">Choose any kind of service</h1>
    <p class="text-center">Start now!</p>
    <%= form_with url: services_path, method: :get, id:"search-bar", class: "d-flex" do %>
    <%= text_field_tag :query,
   params[:query],
    class: "form-control",
    placeholder: "Find a category"
     %>
    <%= submit_tag "🔎", class: "btn-search" %>
    <% end %>
  </div>

</div>

<div class="container mt-5">
  <div class="d-flex justify-content-between">
    <h4 id="title">Top categories</h4>
  </div>

   <div class="row row-cols-3 mt-3 gy-4"  >
    <% @services.each do |service| %>
      <%=link_to categories_path(category: service.category) do %>

          <div class="col">
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(<%= service.photo.attached? ?  service.photo.url : 'https://images.unsplash.com/photo-1586075010923-2dd4570fb338?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3387&q=80' %>);">

              <p class="text-decoration-none link-light "><%= service.category %></p>

            </div>
          </div>

      <% end %>
    <% end %>

  </div>


<script>

// document.getElementById("search-bar").remove()r")
  // const title = document.getElementById("title")
//
  // const search = () => {
    // let searchBar = document.getElementById("search-bar")
    // let searchQuery = document.getElementById("query")
    // console.log("hello")
    // searchQuery.value="babysitting"
    // searchBar.submit()
  // }
//
  // title.addEventListener("click", search)
//
//
</script>
