<div class="container">
<br>
<br>
    <% users = User.all %>
    <% users.each do |user| %>
    <% if user.id == @service.user_id %>
       <% @user = user %>
        <% end %>
    <% end %>
      <div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
        <div class="bg-white rounded shadow h-100">
          <div class="p-3 rounded-bottom d-flex flex-column">
          <% if @service.photo.attached?%>
           <%= image_tag  cl_image_path @service.photo.key, height: 400, crop: :fill %><br>
           <% end %>
            <strong><%= @service.title %> <span class="text-muted font-weight-normal">• <%= @service.price %> <i class="fas fa-euro-sign"></i></span></strong>
            <small class="text-muted"><%= @service.description %></small>
            <div class="d-flex align-items-end justify-content-between pt-4">
              <div>
              <%= link_to user_path(@user), class:"text-decoration-none" do %>
                 <i class="fa-solid fa-user"></i><small class="flex-grow-1">  <%=  @user.username %></small>
               <% end %>
              </div>
            </div>
          </div>
        </div>
        <p><%= link_to "Book", new_service_booking_path(@service), class: "btn btn-primary text-decoration-none"  %></p>

      </div>
  </div>
  <hr class="my-5">
</div>
