<div class="container">
<h1>MY BOOKINGS</h1>
<% @bookings.each do |booking|%>
<h3>tasker: <%= booking.service.user.username %></h3>

<%= booking.user.username %>
<%= booking.user.email %>
<p>________________________</p>
<%= booking.user.location %>
<p>________________________</p>
<%= booking.user.first_name %>
<%= booking.user.last_name %>
<p>________________________</p>
<%= booking.pending %>
<%= booking.confirmed %>
<p>________________________</p>
<%= booking.starting_date %>
<%= booking.end_date %>
<% end %>

</div>
