<div class="container">
<h1>MY BOOKING REQUESTS</h1>
<% @bookings.each do |booking|%>
      <% unless booking.user_id == @user.id %>
        <div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
          <div class="bg-white rounded shadow h-100">
            <div class="p-3 rounded-bottom d-flex flex-column">
              <strong><%= booking.service.title %><br>
              <small class="text-muted">Start date: <%= booking.starting_date %></small><br>
              <small class="text-muted">End date: <%= booking.end_date %></small><br>
               <% if booking.pending == true %>
              <small class="text-muted">Status: pending </small><br>
               <% end %>
                <% if booking.confirmed == true %>
              <small class="text-muted">Confirmed?  Yes! </small><br>
              <% else %>
               <small class="text-muted">Confirmed?  Not yet</small><br>
               <% end %>
              <small class="text-muted"><%= button_to "confirm", "#", method: :get %></small><br>
              <div class="d-flex align-items-end justify-content-between pt-4">
              <div>
                <i class="fa-solid fa-user"></i><small class="flex-grow-1">  <%=  booking.user.username %></small><br>
                <small class="text-muted">Name:   <%= booking.user.first_name.capitalize %> <%= booking.user.last_name.capitalize %></small><br>
                <small class="text-muted">Email: <%= booking.user.email %></small><br>
                <small class="text-muted">Location: <%= booking.user.location %></small><br>
              </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
  </div>
  <hr class="my-5">

</div>
