<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #395144; height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
            <% if @user.photo.attached?%>
              <%= image_tag asset_path(cl_image_path @user.photo.key) %><br>
            <% else %>
              <%= image_tag asset_path('profile.png'), class:"img-fluid img-thumbnail mt-4 mb-2",
                style:"width: 150px; z-index: 1"%>
            <% end %>
            <%=link_to "Edit profile", edit_user_registration_path(@user), class:"btn btn-outline-dark"%>
            </div>
            <div class="ms-3" style="margin-top: 130px;">
              <h5><%= @user.first_name.capitalize%> <%= @user.last_name.capitalize%></h5>
              <p><%= @user.location%></p>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #BDD2B6;">
            <div class="d-flex justify-content-end text-center py-1">
              <div class="px-3">
                <p class="mb-1 h5">1026</p>
                <p class="small text-muted mb-0">Followers</p>
              </div>
              <div>
                <p class="mb-1 h5">478</p>
                <p class="small text-muted mb-0">Following</p>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black" style="background-color: #BDD2B6;">
            <div class="mb-5">
              <p class="lead fw-normal mb-1">Account Details</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <p class="font-italic mb-1">Email: <%= @user.email%> </p></p>
                <p class="font-italic mb-1">Username: <%= @user.username%></p></p>
              </div>
            </div>
            <div class="card-body p-4 text-black">
            <div class="mb-5">
              <p class="lead fw-normal mb-1">About</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <p class="font-italic mb-1">Hi, I'm Ben, I like to help out and I'm very versatile. Locksmithing is more of a hobby since my true passion is babysitting. I guess you could say I'm a full time baby lover!</p></p>
              </div>
            </div>
            </div>
          </div>
           <%=link_to "Edit profile", edit_user_registration_path(@user), class:"btn btn-outline-dark"%>
        </div>
      </div>
    </div>
  </div>
</section>
