<div class="container">
<br>
<div>
 <% if @user.photo.attached?%>
    <%= image_tag  cl_image_path @user.photo.key %><br>
<% else %>
   <%= image_tag asset_path('profile.png') %>
<% end %>
</div>
<div class="my-3">
<h1><%= @user.first_name.capitalize%> <%= @user.last_name.capitalize%></h1>
<br>
<p> Username: <%= @user.username%></p>
<p> Location: <%= @user.location%> </p>
</div>
<%= button_to "Message", "#", method: :get%>
</div>
