<div class="container">
<br>
<div>
 <% if @user.photo.attached?%>
    <%= image_tag  cl_image_path @user.photo.key, height: 400, crop: :fill %><br>
<% else %>
   <%= image_tag asset_path('profile.png') %>
<% end %>
</div>
<h1><%= @user.first_name.capitalize%> <%= @user.last_name.capitalize%></h1>
<br>
<p> Username: <%= @user.username%></p>
<p> Location: <%= @user.location%> </p>
<p> Email: <%= @user.email%> </p>
<%= button_to "edit profile", edit_user_registration_path(@user), method: :get%>

</div>
