<!-- Pills navs -->

<section class="vh-100" style="background-color: #bdd2b6;">
<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
   <div class="col-12 col-md-8 col-lg-6 col-xl-5">
  <div class="card shadow-2-strong" style="border-radius: 1rem;">
  <div class="card-body p-5 text-center">
  <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
  <li class="nav-item" role="presentation">
    <a
      class="nav-link active"
      id="tab-login"
      data-mdb-toggle="pill"
      role="tab"
      style="background-color: #65647c;"
      aria-controls="pills-login"
      aria-selected="true"
       href=<%= new_session_path(resource_name)%>
      >Login</a
    >
  </li>
  <li class="nav-item" role="presentation">
    <a
      class="nav-link"
      id="tab-register"
      data-mdb-toggle="pill"
      aria-selected="false"
      role="tab"
      style="color: #65647c;"
      href = <%= new_registration_path(resource_name) %>
    >Register</a>
  </li>
</ul>
<!-- Pills navs -->

<!-- Pills content -->
<div class="tab-content">
  <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Send me reset password instructions" %>
  </div>
<% end %>
  </div>
  </div>
</div>
</section>
